.review {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
	padding: 0 20px 0 20px;
}

.card {
	background: #f7b701;
	border-radius: 20px;
	width: 100%;
	padding: 10px;
	position: relative;
	height: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
}

.numDisplay {
	position: absolute;
	left: -5px;
	top: -5px;
	padding: 2px;
	background-color: #f35b04;
	color: white;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid #f7b701;
}
